*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
li,
p{
  padding: 0;
  margin: 0;
}

body{
  color: #fff;
}

h2{
  padding-top: 100px;
  font-size: 48px;
  line-height: 58px;
}

.container{
 max-width: 1440px;
 padding: 0 40px;
 margin: 0 auto;
 background-color: transparent;
 @media screen and (max-width: 425px) {
   padding: 0 10px;
 }
}

ul{
  list-style: none;
}

.main{
  height: 100vh;
  background-image: url('../images/main-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 175px;
  @media screen and (max-width: 425px) {
    // height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  &__title{
    max-width: 890px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 64px;
    @media screen and (max-width: 425px) {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &__services{
    max-width: 765px;
    padding-left: 40px;
    margin-bottom: 80px;
    @media screen and (max-width: 425px) {
      padding-left: 0;
      margin-bottom: 40px;
    }
    &-item{
      padding-left: 95px;
      font-size: 32px;
      line-height: 39px;
      position: relative;
      @media screen and (max-width: 425px) {
        font-size: 20px;
        line-height: 22px;
        padding-left: 50px;
      }
      &::before{
        position: absolute;
        content: '';
        width: 68px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 19px;
        @media screen and (max-width: 425px) {
          width: 34px;
          top: 12px;
        }
      }
      & + &{
        margin-top: 46px;
        @media screen and (max-width: 425px) {
          margin-top: 20px;
        }
      }
    }
  }
  .consultation{
    padding-left: 40px;
    display: flex;
    column-gap: 50px;
    align-items: center;
    @media screen and (max-width: 425px) {
        flex-direction: column-reverse;
        padding-left: 0;
    }
    &__text{
      max-width: 270px;
      font-size: 20px;
      line-height: 24px;
      @media screen and (max-width: 425px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}

.consultation{
  &__btn{
    cursor: pointer;
    border: none;
    padding: 28px 106px;
    background: #55D235;
    box-shadow: 0px 10px 0px #01820D;
    border-radius: 50px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    transition: all .3s;
    @media screen and (max-width: 425px) {
        font-size: 18px;
        padding: 15px 60px;
    }
    &:hover{
      background: #44b427;
      transition: all .3s;
    }
  }
}

.welcome{
  color: #000;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__inner{
    max-width: 760px;
  }
  &__list{
    margin-top: 100px;
    margin-bottom: 75px;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 3px solid #000;
    &-item{
      font-size: 36px;
      line-height: 44px;
      &:not(:last-child){
        margin-bottom: 35px;
      }
    }
  }
  &__img{
    img{
      display: block;
      width: 100%;
      height: 780px;
    }
  }
}



.advantages{
  background-color: rgba(0, 0, 0, 0.82);
  padding-bottom: 76px;
  &__title{
    text-align: center;
  }
  &__wrapper{
    margin-top: 55px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-bottom: 60px;
    &-item{
      background-color: #525252;
      padding: 45px;
      // border-left: 1px solid #FFFFFF;
      // border-right: 1px solid #FFFFFF;
      width: 500px;
      height: 280px;
      // margin-bottom: 30px;
      &:nth-child(1),
      &:nth-child(4){
        border-radius: 30px 0px;
      }
      &:nth-child(2),
      &:nth-child(3){
        border-radius: 0px 30px;
      }
      div{
        // position: relative;
        background-color: #525252;
        height: 100%;
        box-shadow:
        0px 1px 0px 0px rgb(255, 255, 255),
        0px 11px 0px 0px #525252,
        0px 10px 0px 1px rgb(255, 255, 255),
        -1px 0px 0px 0px rgb(255, 255, 255),
        -11px 0px 0px 0px #525252,
        -10px 0px 0px 1px rgb(255, 255, 255),
        0px -1px 0px 0px rgb(255, 255, 255),
        0px -11px 0px 0px #525252,
        0px -10px 0px 1px rgb(255, 255, 255),
        1px 0px 0px 0px rgb(255, 255, 255),
        11px 0px 0px 0px #525252,
        10px 0px 0px 1px rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      h3{
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin: 0;
        width: min-content;
        margin-top: -20px;
        // position: absolute;
        // top: -20px;
        // left: 50%;
        // transform: translateX(-50%);
        background-color: #525252;
        padding: 0 20px;
        span{
          white-space: nowrap;
        }
      }
      p{
        // position: absolute;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 40px;
        text-align: center;
        bottom: 0;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  &__subtitle{
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 76px;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      bottom: 0;
    }
  }
  &__result{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 107px;
    }
    &-item{
      flex: 1;
      &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
      &__number{
        font-weight: 400;
        font-size: 96px;
        line-height: 116px;
      }
    }
  }
  .consultation{
    text-align: center;
    &__text{
      margin-bottom: 10px;
    }
  }
}



.rate{
  color: #000;
  background-color: #fff;
  padding-bottom: 100px;
  &__title{
    margin-bottom: 83px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    max-width: 500px;
    height: fit-content;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    flex: 1;
    text-align: center;
    padding: 24px 24px 54px;
    &-title{
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      display: inline-block;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        bottom: -1px;
      }
    }
    &-list{
      padding-top: 61px;
      padding-bottom: 41px;
      text-align: left;
      li + li{
        margin-top: 25px;
      }
      li{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        padding-left: 52px;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          width: 33px;
          height: 2px;
          background-color: #000;
          left: 0;
          top: 13px;
        }
      }
    }
  }
}


.documents{
  background-color: #000;
  text-align: center;
  &__img{
    padding-top: 85px;
    padding-bottom: 118px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer{
  color: #000;
  text-align: center;
  &__contacts{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 64px;
      padding-bottom: 32px;
      border-bottom: 2px solid #000;
    }
    &-left{
      a{
        text-decoration: none;
      }
      img{
        width: 48px;
        height: 48px;
      }
    }
    &-right{
      a{
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #000;
        text-align: right;
        &:nth-child(1){
          margin-bottom: 20px;
        }
      }
    }
  }
  &__copyrights{
    padding-top: 20px;
    padding-bottom: 67px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
  }
}