.header{
  position: fixed;
  background: #000;
  width: 100%;
  z-index: 5;
  @media screen and (max-width: 500px) {
    position: static;
  }
  menu{
    padding: 0;
    margin: 0;
  }
  &__menu{
    &-desktop{
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        height: 50px;
        a{
          color: #fff;
          position: relative;
          &::after{
            position: absolute;
            content: "";
            right: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: width 0.5s;
          }
          &:hover:after {
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            bottom: -4px;
            height: 2px;
            background-color: #fff;
            transition: width 0.5s;
          }
        }
      }
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    &-mobile{
      @media screen and (min-width: 500px) {
        display: none;
      }
      &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
      }
      &__burger{
        .bar1, .bar2, .bar3 {
          width: 34px;
          height: 3px;
          background-color: #fff;
          margin: 6px 0;
          transition: 0.4s;
        }
        .change.bar1 {
            transform: rotate(-45deg) translate(-5px, 5px) ;
        }
        .change.bar2 {
            opacity: 0;
        }
        .change.bar3 {
            transform: rotate(45deg) translate(-8px, -8px) ;
        }
      }
      &__phone{
        a{
          font-size: 26px;
          line-height: 28px;
          color: #fff;
        }
      }
      ul{
        height: 0;
        overflow: hidden;
        &.open{
          height: 100vh;
          transition: all .5s;
        }
        li{
          margin: 40px 0;
          a{
            color: #fff;
            font-size: 26px;
            line-height: 28px;
          }
        }
      }
    }
  }
}