$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.overlay{
  position: fixed;
  inset: 0;
  z-index: 999;
  // background-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  text-align: center;
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &_open{
    opacity: 1;
    visibility: visible;
  }
}

.modal{
  // width: 100vw;
  // height: 100vh;
  // position: fixed;
  // background-color: rgba(255, 255, 255, 0.5);
  // backdrop-filter: blur(20px);
  // top: 0;
  // left: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  color: #000;
  &__hide{
    display: none;
  }
  &__container{
    position: relative;
    text-align: center;
    background-color: $color-bg;
    padding: 40px 100px 60px;
    border-radius: 30px;
    box-shadow:   12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
                  -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    
    form{
      display: flex;
      flex-direction: column;
      text-align: left;
      label{
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        input{
          margin-top: 10px;
          margin-bottom: 15px;
          border-radius: 50px;
          font-size: 20px;
          padding: 15px 15px;
          border: none;
          background-color: $color-bg;
          box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
          appearance: none;
          transition: all 0.2s ease-in-out;
          &:focus-visible{
            outline: 0px;
            box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
          }
        }
      }
    }
  }
  &__contactchoice{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    div{
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &-title{
      max-width: 400px;
      font-weight: 400;
      font-size: 24px;
      line-height: 26px;
      white-space: normal;
    }
  }
  &__btn{
    margin-top: 20px;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    background-color: $color-bg;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
  }
  &__close{
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }              
  &__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 20px;
  }
}